---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import IconSocial from "../components/IconSocial.astro";
import PostSorter from "../components/PostSorter";
import { SITE } from "../config";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description =
  "A place where I'll put some of my projects, writing, and miscellaneous.";
let permalink = "https://nickorfield.netlify.app/";

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" data-theme="autumn">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="max-w-6xl mx-auto px-4 sm:px-8">
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro pb-2">
          <h1 class="title">Greetings to</h1>
          <p>{description}</p>
        </section>
        <br />
        <section class="social border-b-4 pb-8">
          <h1 class="title">Social</h1>
          <p>You can reach me out here:</p>
          <ul class="list-disc list-inside mt-2">
            <IconSocial
              link="mailto:nick.orfield1@gmail.com"
              icon="fa-sharp fa-solid fa-envelope"
              name="E-Mail"
            />
            <IconSocial
              link="https://spacehey.com/nickorfield"
              icon="fa-solid fa-globe"
              name="SpaceHey"
            />
            <IconSocial
              link="https://nickorfield.medium.com/"
              icon="fa-brands fa-medium"
              name="Medium"
            />
          </ul>
        </section>
        <br />
        <section aria-label="Blog post list" class="border-b-4 post-list">
          <h1 class="title text-warning">The Posts</h1>
          <h2 class="text-primary">Tags:</h2>
          <PostSorter allPosts={allPosts} client:only="react" />
        </section>
        <br />
        <script>
          import waitForElm from "../components/waitForElm";
          // Restore session scroll or zero when null
          const currentY = parseInt(sessionStorage.getItem("currentY")) || 0;
          window.addEventListener("load", () => {
            // Wait for page load and PostSorter load to restore session scroll
            waitForElm(".tabs-boxed").then(() =>
              window.scrollTo({ left: 0, top: currentY, behavior: "auto" })
            );
            //setTimeout(() => window.scroll(0, currentY), 250)
          });
          // Set session scroll when changing page
          window.addEventListener("unload", () => {
            sessionStorage.setItem("currentY", window.scrollY.toString());
          });
        </script>
      </main>
      <Footer />
    </div>
  </body>
</html>
