---
import Author from './Author.astro';
import Comments from './Comments.jsx';
import Footer from './Footer.astro';

export interface Props {
	title: string;
	author: string;
	authorURL: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, author, authorURL, publishDate, heroImage, alt } = Astro.props as Props;
---

<div>
	<article>
		<div>
			<header class="mb-16">
				{heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
				<p class="text-center">{publishDate}</p>
				<h1 class="title text-center">{title}</h1>
				<Author name={author} href={authorURL} />
			</header>
			<main class="mb-20 [&>p]:my-8">
				<slot />
			</main>
			<Comments client:load/>
			<Footer/>
		</div>
	</article>
</div>
