---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, authorURL, permalink } =
  content;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body class="max-w-6xl mx-auto px-4 sm:px-8">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5J0JEWXHWZ"
    ></script>
    <script>
      declare global {
        interface Window {
          dataLayer: any;
        }
      }

      let dataLayer = window.dataLayer || [];
      function gtag(a: string, b: string | object) {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-5J0JEWXHWZ");
    </script>
    <!-- Github corner web component -->
    <script src="wc-github-corners"></script>
    <github-corners
      fill="#ae5f0f"
      repo="nicolas-orozco/nickorfield"
      blank={true}></github-corners>
    <!-- Blog Structure -->
    <article>
      <BlogHeader />
      <BlogPost {title} {author} {authorURL} {publishDate}>
        <slot />
      </BlogPost>
    </article>
  </body>
</html>
